{% extends 'base.html' %}

{% block content %}
<h1>Boggle</h1>
<table id="boggle" class="main">
    <thead></thead>
    <tbody>
    {% for row in board %}
        <tr>
            {% for char in row %}
            <td>{{char}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="/guess" method="POST">
    <label for="guess">Enter a guess: 
        <input type="text" name="guess">
    </label>
    
    <button type="submit">Guess!</button>
</form>
    
{% endblock %}